.trials {}
.card {}

.card .wins {
  margin-bottom: 10px;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
  width: 25px;
}

.dot.won {
  background-color: #FFD700
}

.dot.lost {
  background-color: #CA1313
}

.dot.unfilled {
  background-color: #757643
}
