.trials {}
.card {}

.card .wins {
  margin-bottom: 10px;
}

.card .optional {
  overflow: hidden;
}

.card .losses { float: left }
.card .boons { float: right; margin-right: 4px }

.dot {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
  width: 25px;
}

.dot:last-child {
  margin-right: 0
}

.dot.won {
  background-color: #FFD700
}

.dot.lost {
  background-color: #CA1313
}

.dot.boon {
  background-color: #306bd8
}

.dot.unfilled {
  background-color: #757643
}

.dot.mercy { position: relative }
.dot.mercy:after {
  content: '';
  height: 6px;
  width: 13px;
  border-radius: 90px 90px 0 0;
  background: white;
  position: absolute;
  transform: rotate(130deg);
  top: 12px;
  left: 8px;
}
.dot.favor { position: relative }
.dot.favor:after {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 90px;
  border: 3px solid #FFF;
  position: absolute;
  top: 5px;
  left: 5px;
}
.dot.boldness { position: relative }
.dot.boldness:after {
  content: '';
  height: 13px;
  width: 13px;
  border-radius: 90px;
  background: white;
  position: absolute;
  top: 6px;
  left: 6px;
}
