.config {
  padding: 25px;
}

.config form {
  margin-bottom: 25px;
}

.config .note {
  color: #7e829b;
  font-size: 10px;
}

.config .warning {
  color: #ec3c19;
  font-size: 10px;
}

.config strong.label {
  line-height: 25px;
}
