.trials-card {
  background: #2b2d39;
  border-top: 1px solid #a1adc3;
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: 0;
}

.trials-card .dot.unfilled {
  background: #51535e;
}

.sidebar {
  min-height: 100vh;
  background: #FFFFFF;
  border-left: 1px solid #a1adc3;
  outline: 5px solid #d2d5da;
  min-width: 350px;
}

.main {
  background: #eaedf3;
}
