.sidebar {
  min-height: 100vh;
  background: #FFFFFF;
  border-left: 1px solid #a1adc3;
  outline: 5px solid #d2d5da;
  min-width: 320px;
}

.sidebar .details {
  min-height: 100%;
  margin-bottom: -95px;
}

.sidebar .trials-card {
  background: #2b2d39;
  border-top: 1px solid #a1adc3;
  padding: 20px;
  width: auto;
  height: 95px;
}

.trials-card .trials.loading {
  text-align: center;
}

.trials-card .dot.unfilled {
  background: #51535e;
}

.main {
  background: #eaedf3;
}
