@import '../../design/variables.scss';

.emblem {
  position: relative;
  background-size: 100%;
  height: $topbar;

  img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  .name {
    color: #FFF;
    font-size: 18px;
    left: 95px;
    position: absolute;
    top: 16px;
  }

  .class {
    color: #FFF;
    font-size: 13px;
    left: 95px;
    position: absolute;
    top: 43px;
  }

  .light {
    color: #F5DC56;
    font-size: 18px;
    position: absolute;
    right: $padding;
    top: 15px;

    &:before {
      content: "\2726";
      display: inline-block;
      margin-right: 5px;
    }
  }

  .kd {
    color: palette(white);
    font-size: 16px;
    position: absolute;
    right: $padding;
    top: 43px;

    small {
      font-size: 16px;
    }

    &.weekly {
      small {
        color: rgba(palette(white), .5);
        margin-right: 5px;
        font-size: 12px;
      }
    }
  }
}
