.menu {
  background: #2b2d39;
  border-right: 5px solid #d2d5da;
  font-family: 'Arial';
  min-height: 100vh;

  a {
    text-decoration: none;
  }

  .item {
    border-left: 5px solid transparent;
    color: #FFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    margin-bottom: 1px;
    padding-left: 25px;

    &:nth-child(1) {
      background: #1f212A;
    }

    &:nth-child(2) {
      background: #22232D;
    }

    &:nth-child(3) {
      background: #242630;
    }

    &:nth-child(4) {
      background: #262833;
    }

    &:nth-child(5) {
      background: #292B36;
    }

    &:hover,
    &.active {
      border-left-color: #E2ECFF;
    }

    &.active {
      background-color: #14151A;
    }
  }
}

.bottom {
  position: fixed;
  margin-top: 25px;
  bottom: 0;

  .settings {
    display: block;
    color: #7E829B;
    margin-left: 30px;
    margin-bottom: 20px;

    &:hover {
      color: #999EBC;
    }
  }
}
