@import '../../design/variables.scss';

.not-found {
  h2 {
    font-size: 48px;
    color: palette(primary, light);
    font-weight: normal;
  }

  p {
    color: palette(gray, dark);
    margin: 0 0 $padding;
  }

  a {
    color: palette(primary, light);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: palette(primary);
    }
  }
}
