@import '../../design/variables.scss';

.abilities {
  color: palette(gray);
  display: flex;
  flex-direction: row;
  height: 72px;
  margin: 0 0 -1px;
  text-align: center;
  width: 75%;

  .ability {
    width: 33%;
    padding: 20px 0;

    h4 {
      margin: 0 0 5px;

      &.max {
        color: palette(primary, light);
      }
    }

    .cooldown {
      display: block;
      font-size: 11px;

      strong {
        padding-right: 4px;
      }
    }
  }
}
