@import '../../design/variables.scss';

.split {
  width: 33%;
  color: palette(gray);
  text-align: center;
  height: 75px;

  h4 {
    margin: 16px 0 5px;
    font-size: 23px;
  }

  .bottom {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
  }
}
