.config {
  padding: 25px;

  form {
    margin-bottom: 25px;
  }

  .note {
    color: #7e829b;
    font-size: 10px;
  }

  .warning {
    color: #ec3c19;
    font-size: 10px;
  }

  strong.label {
    line-height: 25px;
  }
}
