@import '../../design/variables.scss';

.build {
  width: 25%;

  .stats {
    background: palette(primary, dark);
    height: 31%;
    margin-bottom: 2px;
    position: relative;
    overflow: hidden;

    .fill {
      background: palette(primary, light);
      bottom: 0;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .info {
      color: #fff;
      font-size: 12px;
      height: 100%;
      left: 5px;
      line-height: 16px;
      position: absolute;
      text-align: left;
      top: 3px;
      width: 100%;
    }

    span {
      font-weight: 400;
    }

    .value {
      font-weight: 700;
      padding-right: 4px;
    }
  }
}
