@import '../../design/variables.scss';

.fireteam {
  display: flex;

  &.large {
    flex-direction: row;

    .member {
      width: 33.33%;
    }
  }

  &.small {
    flex-direction: column;
  }

  .member {
    position: relative;
    flex-direction: column;
  }

  .tiers {
    display: flex;
    flex-direction: row;
    margin: $padding 0;
  }

  .weekly {
    margin-bottom: $padding;

    .elo {
      color: palette(white);
      text-align: center;
      width: 25%;
      height: $topbar;
      display: flex;
      flex-direction: column;

      strong {
        font-size: 23px;
        margin-top: 16px;
      }

      span {
        color: rgba(palette(white), .5);
        margin-top: 3px;
        font-size: 12px;
        display: block;
      }
    }
  }
}
