@import '../../design/variables.scss';

.fireteam {
  display: flex;

  &.large {
    flex-direction: row;

    .member {
      width: 33.33%;
    }
  }

  &.small {
    flex-direction: column;
  }

  .member {
    position: relative;
    flex-direction: column;
  }

  .tiers {
    display: flex;
    flex-direction: row;
    margin: $padding 0;
  }

  .elo {
    color: rgba(255,255,255,.71);
    font-size: 12px;
    left: -58px;
    position: absolute;
    text-align: center;
    top: 55px;
    transform: rotate(90deg);
    width: 129px;
    z-index: 1;
  }
}
