.guardian {
  &.main {
    min-height: 100vh;

    .center {
      margin-top: 50vh;
    }
  }

  form {
    background: #FFF;
    border-bottom: 1px solid #A1ADC3;
    padding: 15px;
  }

  input {
    border: 0;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  fieldset {
    border-radius: 20px;
    border: 1px solid #A1ADC3;
    padding: 7px 20px;
    position: relative;
  }

  button {
    background: #2b2d39;
    border-radius: 20px;
    border: 0;
    color: #e2ecff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: -1px -1px 0 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;

    &:hover {
      background: #1f212a;
    }
  }

  .center {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50%;
  }

  .help {
    color: #7e829b;
    font-style: italic;
    padding: 0 25px;
    text-align: center;
  }

  .results {
    height: 100%;
  }
}
