@import '../../design/variables.scss';

.guardian {
  width: 100%;

  input {
    border: 0;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  fieldset {
    border-radius: 20px;
    border: 1px solid #A1ADC3;
    padding: 7px 20px;
    position: relative;
    width: 100%;
  }

  button {
    background: palette(primary, light);
    border-radius: 20px;
    border: 0;
    color: palette(primary, light, contrast);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: -1px -1px 0 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;

    &:hover {
      background: palette(primary, mid);
    }
  }

  .help {
    color: #7e829b;
    font-style: italic;
    padding: 0 25px;
    text-align: center;
    margin-top: 40vh;
  }
}
